<ng-container *ngIf="schema && show">
    <nb-card>
        <nb-card-body>
            <table *ngIf="!isNotFoundEnabled()">
                <thead>
                    <tr>
                        <th *ngFor="let col of schema.columns">
                            <div class="title">{{col.title ?? col.name}}</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of displayRows; let rowIndex = index" [class.td-selectable]="schema.selectable"
                        (click)="schema.selectable ? toggleSelectRow(rowIndex, !isRowSelected(rowIndex)) : undefined"
                        [class.td-selected]="schema.selectable ? isRowSelected(rowIndex) : undefined">
                        <td *ngFor="let rowCol of schema.columns;let colIndex = index"
                            [class.td-has-checkbox]="colIndex == 0 && schema.selectable?.multiple">
                            <!-- multiple select -->
                            <ng-container *ngIf="colIndex == 0 && schema.selectable?.multiple">
                                <nb-checkbox (checkedChange)="toggleSelectRow(rowIndex, $event)"
                                    [checked]="isRowSelected(rowIndex)"></nb-checkbox>
                            </ng-container>
                            <!-- string type -->
                            <div *ngIf="!rowCol.type || rowCol.type === 'string'">
                                {{row[rowCol.name]}}
                            </div>
                            <!-- tag type -->
                            <nb-tag-list *ngIf="rowCol.type == 'tag'">
                                <nb-tag appearance="filled" [text]="row[rowCol.name].value"
                                    [status]="row[rowCol.name].status ? row[rowCol.name].status : 'basic'"></nb-tag>
                            </nb-tag-list>
                            <!-- tagsList type -->
                            <nb-tag-list *ngIf="rowCol.type == 'tagsList' && row[rowCol.name].length > 0">
                                <nb-tag appearance="filled" *ngFor="let tag of row[rowCol.name]" [text]="tag.value"
                                    [status]="tag.status ? tag.status : 'basic'"></nb-tag>
                            </nb-tag-list>
                            <!-- actions type -->
                            <ng-container *ngIf="rowCol.type === 'actions'">
                                <button *ngFor="let btn of row[rowCol.name]" nbButton [status]="btn.status"
                                    [disabled]="btn.disabled ? btn.disabled : undefined"
                                    [hero]="btn.appearance === 'colorful'" [outline]="btn.appearance === 'outline'"
                                    [ghost]="btn.mode === 'icon' || btn.appearance === 'basic'"
                                    (click)="runButtonAction(btn, rowIndex)" [nbTooltip]="btn.text"
                                    [nbTooltipDisabled]="btn.mode !== 'icon' || !btn.text">
                                    <!-- text mode -->
                                    <ng-container *ngIf="!btn.mode || btn.mode === 'text'">{{btn.text}}</ng-container>
                                    <!-- icon mode -->
                                    <ng-container *ngIf="btn.mode === 'icon'">
                                        <nb-icon [icon]="btn.icon"></nb-icon>
                                    </ng-container>
                                </button>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- pagination -->
            <div class="pagination" *ngIf="schema.mapApiPagination && schema.mapApiPagination.__pageCountResponse">
                <!-- prev buttons -->
                <nb-button-group shape="semi-round">
                    <button (click)="goToPage(1)" nbButtonToggle *ngIf="page > 2  && displayPages.first">
                        <nb-icon icon="arrowhead-left-outline" [class.rtl-icon]="isRtl"></nb-icon>
                    </button>
                    <button (click)="goToPage(page - 1)" nbButtonToggle *ngIf="page > 1 && displayPages.prev">
                        <nb-icon icon="arrow-ios-back-outline" [class.rtl-icon]="isRtl"></nb-icon>
                    </button>
                    <ng-container *ngFor="let p of displayPages.pages">
                        <button *ngIf="p !== '...'" (click)="goToPage(p)" [pressed]="page== p"
                            nbButtonToggle>{{p}}</button>
                        <button *ngIf="p === '...'" disabled outline nbButtonToggle>...</button>
                    </ng-container>

                    <!-- next buttons -->
                    <button (click)="goToPage(page+1)" nbButtonToggle
                        *ngIf="page < schema.mapApiPagination.__pageCountResponse && displayPages.next">
                        <nb-icon icon="arrow-ios-forward-outline" [class.rtl-icon]="isRtl"></nb-icon>
                    </button>
                    <button (click)="goToPage(schema.mapApiPagination.__pageCountResponse)" nbButtonToggle
                        *ngIf="page < schema.mapApiPagination.__pageCountResponse - 1 && displayPages.last">
                        <nb-icon icon="arrowhead-right-outline" [class.rtl-icon]="isRtl"></nb-icon>
                    </button>
                </nb-button-group>

            </div>

            <!-- not found -->
            <div *ngIf="isNotFoundEnabled()" class="not-found">
                <img *ngIf="schema.notFound.imageUrl" [src]="schema.notFound.imageUrl">
                <p *ngIf="schema.notFound.html" [innerHtml]="schema.notFound.html"></p>
            </div>
        </nb-card-body>
    </nb-card>
</ng-container>