nb-card-body {
    padding: 0;
    border-radius: 5px;
}

table {
    line-height: 1.5em;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: 100%;
    max-width: 100%;
    overflow: auto;

    thead {
        tr {
            th {
                padding: 0.875rem 1.25rem;
                border: 1px solid var(--background-basic-color-2);

                .title {
                    display: flex;
                    align-items: center;

                    .text {
                        text-transform: capitalize;
                        font-weight: 700;
                        flex: 1 1 0;
                    }

                    nb-icon {
                        opacity: 0.7;
                        transition: all 0.3s;

                        // font-size: 1.1em;
                        &.asc {
                            color: var(--card-header-success-background-color);
                        }

                        &.desc {
                            color: var(--card-header-danger-background-color);
                        }

                        &:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                    }

                    .non-sort {
                        display: flex;
                        flex-direction: column;
                        align-items: center;


                        nb-icon {
                            opacity: 0.6;
                            transition: all 0.3s;
                            font-size: 1.1em;

                            &:hover {
                                opacity: 1;
                                cursor: pointer;
                            }
                        }

                        nb-icon:first-child {
                            margin-bottom: -4px;

                            &:hover {
                                color: var(--card-header-success-background-color);
                            }
                        }

                        nb-icon:last-child {
                            margin-top: -4px;

                            &:hover {
                                color: var(--card-header-danger-background-color);
                            }
                        }
                    }
                }

            }
        }
    }

    tbody {
        tr {
            td {
                padding: 0.875rem 1.25rem;
                border: 1px solid var(--background-basic-color-2);

            }
        }
    }
}

.td-has-checkbox {
    display: flex;
    align-items: center;

    nb-checkbox {
        margin: 0 5px;
        margin-bottom: -5px;
    }
}

.td-selectable {
    cursor: pointer;
    transition: all 0.3s;

    &:hover:not(.td-selected) {
        // background: var(--actions-divider-color);
        background-color: var(--card-scrollbar-color);
    }
}

.td-selected {
    background: var(--alert-outline-control-color);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 4px;
}

.rtl-icon {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.not-found {
    padding: 2em 10%;
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
        max-height: 250px;
        margin-bottom: 5px;
    }
}