<nb-card *ngIf="widgetHeader?.schema">
    <nb-card-header *ngIf="widgetHeader.schema.header">
        <ng-container *ngIf="widgetHeader.schema.header.text">{{widgetHeader.schema.header.text}}</ng-container>

    </nb-card-header>
    <nb-card-body *ngIf="widgetHeader.schema.content">
        <strong-layout-builder [form]="widgetForm" [layout]="widgetHeader.schema.content.layout">
        </strong-layout-builder>
    </nb-card-body>
    <nb-card-footer *ngIf="widgetHeader.schema.footer">
        <strong-layout-builder [form]="widgetForm" [layout]="widgetHeader.schema.footer.layout">
        </strong-layout-builder>
    </nb-card-footer>
</nb-card>