<div mat-dialog-title [dir]="locale.getLangInfo().direction" *ngIf="data.title" class="title">
    <h1>{{ data.title }}</h1>
    <p *ngIf="data.description" class="light-black" [innerHtml]="data.description"></p>
</div>
<div mat-dialog-content>
    <!-- html -->
    <p class="html" *ngIf="data.html" [innerHtml]="data.html"></p>
    <strong-form-builder *ngIf="data.form" [form]="data.form"></strong-form-builder>
</div>
<div mat-dialog-actions *ngIf="data.actions && data.actions.length > 0" class="actions">
    <ng-container *ngFor="let action of data.actions">
        <ng-container *ngIf="action.__show">
            <!-- basic button -->
            <button mat-button [color]="action.status" [disabled]="action.disabled ? action.disabled : undefined"
                (click)="runAction(action)">
                {{ action.text }}
            </button>
        </ng-container>
    </ng-container>
</div>