<ng-container *ngIf="schema">
    <nb-select [size]="schema.size" [shape]="schema.shape" [status]="schema.status" [id]="widgetId"
        [disabled]="schema.disabled ? schema.disabled : undefined" [fullWidth]="schema.fullWidth ? true : undefined"
        [hero]="schema.appearance === 'colorful'" [outline]="schema.appearance === 'outline'"
        [placeholder]="schema.placeholder" [(selected)]="schema.value" (selectedChange)="changeEvent($event)">
        <nb-option *ngFor="let opt of options" [value]="opt.value">{{opt.text}}</nb-option>
    </nb-select>


</ng-container>