<nb-tabset *ngIf="schema && show" [fullWidth]="schema.fullWidth" (changeTab)="changeAsyncTab($event.tabId, $event)">
    <ng-container *ngFor="let header of schema.tabHeaders">
        <nb-tab [style.padding]="!schema.tabPadding ? '0' : undefined" [tabId]="header.name" [active]="header.isActive"
            [disabled]="header.disabled"
            [tabIcon]="header.mode === 'icon' || header.mode === 'textWithIcon' ? header.icon : undefined"
            *ngIf="!header.hidden"
            [tabTitle]="header.mode === 'text' || header.mode === 'textWithIcon' ? header.title : undefined"
            [responsive]="header.mode === 'textWithIcon'">

        </nb-tab>
    </ng-container>

</nb-tabset>
<!-- tab content -->
<ng-container *ngIf="activeTabHeader && schema.tabContents[activeTabHeader.name]">
    <!-- component as content -->
    <ng-container #TabComponentRef *ngIf="schema.tabContents[activeTabHeader.name].component"></ng-container>
    <!-- html text -->
    <p *ngIf="schema.tabContents[activeTabHeader.name].html"
        [innerHtml]="schema.tabContents[activeTabHeader.name].html"></p>
    <!-- layout -->
    <strong-layout-builder *ngIf="schema.tabContents[activeTabHeader.name].layout" [form]="widgetForm"
        [layout]="schema.tabContents[activeTabHeader.name].layout">
    </strong-layout-builder>
    <!-- form -->
    <strong-form-builder *ngIf="schema.tabContents[activeTabHeader.name].form"
        [form]="schema.tabContents[activeTabHeader.name].__formInstance"></strong-form-builder>
</ng-container>