<ng-container *ngIf="schema && show">
    <mat-form-field [class.full]="schema.fullWidth"
        [appearance]="schema._form?.appearance !== 'default' ? schema._form?.appearance : 'standard'">
        <mat-label *ngIf="schema._form?.label">
            {{schema._form.label}}
            <span class="required" *ngIf="schema._form?.__isRequired">*</span>
        </mat-label>
        <input [style.textAlign]="schema.textAlign ?? undefined" [attr.dir]="schema.direction ?? undefined"
            (focus)="makeDirtyField()" matInput [type]="schema.type" [disabled]="schema.disabled? true : undefined"
            [placeholder]="schema.placeholder ? schema.placeholder : ''" [id]="widgetId" [(ngModel)]="schema.value"
            (ngModelChange)="changeValue($event)" (keyup)="keyupEvent($event)" />
        <span matSuffix *ngIf="schema?._form?.suffixText">{{schema?._form?.suffixText}}</span>
    </mat-form-field>
</ng-container>